{{!-- <div class="d-flex justify-content-center align-items-center" style="height:100vh;">
  <div class="container w-100 container-border text-center">
    <h2>Join to Clippy here</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="fieldset-border">
          <fieldset>
            <legend>Junior Member</legend>
            <a href="/auth/junior">
            <button>
            <span class="box">Sign Up!</span>
            </button>
            </a>
          </fieldset>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="fieldset-border">
          <fieldset>
            <legend>Senior Member</legend>
            <a href="/auth/senior">
            <button>
            <span class="box">Sign Up!</span>
            </button>
            </a>
          </fieldset>
        </div>
      </div>
      <p>Already have an account?<a href="/auth/login"> Log In!</a></p>
    </div>
  </div>
</div> --}}
<div class="d-flex justify-content-center align-items-center" style="height:100vh;">
  <div class="container w-100 container-border text-center p-5">
    <h2 class="mb-5" >Join to Clippy here</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="fieldset-border">
          <fieldset>
            <legend class="mt-4" >Junior Member</legend>
            <a href="/auth/junior">
              <button>
                <span class="box">Sign Up!</span>
              </button>
            </a>
          </fieldset>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="fieldset-border">
          <fieldset>
            <legend class="mt-4" >Senior Member</legend>
            <a href="/auth/senior">
              <button>
                <span class="box">Sign Up!</span>
              </button>
            </a>
          </fieldset>
        </div>
      </div>
      <p class="mt-5" >Already have an account?<a href="/auth/login"> Log In!</a></p>
    </div>
  </div>
</div>
