<div class="d-flex align-items-center justify-content-center vh-100">
<form class="form w-25" action="/auth/signup/junior" method="POST">
    <p class="heading">📎  Sign Up as Junior</p>
    <input class="input" placeholder="Username" type="text" name="username">
    <input class="input" placeholder="Email" type="text" name="email">
    <input class="input" placeholder="Password" type="password" name="password">
    <input class="input" placeholder="Repeat Password" type="password" name="repeatPassword">
    <button class="btn">Submit</button>
    <p>Already have an account?<a href="/auth/login"> Log In!</a></p>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
</div>