<div id="login-form">
<form class="form" action="/auth/login" method="POST">
    <p class="heading">Login</p>
    <input class="input" placeholder="Username" type="text" name="username">
    <input class="input" placeholder="Email" type="text" name="email">
    <input class="input" placeholder="Password" type="text" name="password"> 
    <button class="btn">Submit</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
</div>