<div class="d-flex align-items-center justify-content-center vh-100">
<form class="form w-25" action="/auth/signup/pending" method="POST">
    <p class="heading">Sign Up as Senior</p>
    <input class="input" placeholder="Username" type="text" name="username">
    <input class="input" placeholder="Email" type="text" name="email">
    <input class="input" placeholder="Password" type="password" name="password">
    <input class="input" placeholder="Repeat Password" type="password" name="repeatPassword">
    <input class="input" placeholder="GitHub Url" type="text" name="github">
    <button class="btn">Submit</button>
    <p class="mt-4 d-flex justify-content-center">Already have an account? <a href="/senior"> Log In!</a></p>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>
</div>