<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="25"
        viewBox="0 96 960 960"
        width="25"
        class="hamburger"
      ><path
          d="M120 816v-60h240v60H120Zm0-210v-60h480v60H120Zm0-210v-60h720v60H120Z"
        ></path></svg>
      <span>Toggle Sidebar</span>
    </button>
    <button
      id="harmburgerBlack"
      class="btn btn-dark d-inline-block d-md-none ml-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="21"
        viewBox="0 96 960 960"
        class="hamburger navbar-toggler-icon"
        width="21"
      ><path
          d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"
        ></path></svg>
    </button>

    <div class="collapse navbar-collapse column justify-content-end"
      id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <p class="nav-link">Bienvenido: {{user.username}}</p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>