<nav id="sidebar">
    <div class="sidebar-header">
                <h3>Clippy</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Your tickets</p>
                <li class="active liSideMenu">
                    <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="sideBarLinks">All</a>
                </li>
                <li class="liSideMenu">
                    <a href="#" class="sideBarLinks">Solved</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to Home</a>
                </li>
            </ul>
</nav>