<div class="wrapper">
        <!-- Sidebar  -->
        {{>side.menu.junior user}}
        <!-- Page Content  -->
        <div id="content">
        {{>nav.profiles}}
            <div class="card-container">
        {{#each tickets}}
                <div class="blog-container">
                  
                  <div class="blog-header">
                    <div class="blog-cover" style="background:url({{image}});">
                      <div class="blog-author">
                        <h3>Russ Beye</h3>
                      </div>
                    </div>
                  </div>
                
                  <div class="blog-body">
                    <div class="blog-title">
                      <h1><a href="#">{{title}}</a></h1>
                    </div>
                    <div class="blog-summary">
                      <p>{{description}}</p>
                    </div>
                    <div class="blog-tags">
                      <ul>
                        {{#each technologiesUsed}}
                        <li><a href="#">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                  
                  <div class="blog-footer">
                    <ul>
                      <li class="published-date">2 days ago</li>
                    </ul>
                  </div>
                
                </div>
                   {{/each}}
            </div> 
        </div>
    </div>