<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1>Clippy 🚀</h1>
    <a class="navbar-brand" href="/auth/login">Log In!</a>
    <a class="navbar-brand" href="/auth/choice">Sign Up!</a>
  </div>
</nav>
<a href="/auth/choice">Get Started</a>
<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>




<h1>NODEMAILER</h1>
<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit" id="myButton">Submit</button>
</form>
