<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1>Clippy 🚀</h1>
    <a class="navbar-brand" href="/auth/login">Log In!</a>
    <a class="navbar-brand" href="/auth/choice">Sign Up!</a>
  </div>
</nav>
<a href="/auth/choice">Get Started</a>