{{>nav}}
<div class="container d-flex justify-content-end mt-5">
  <div class="text-right flex-column align-items-end">
    <h1 class="mb-3">Welcome to Clippy!</h1>
    <p class="mb-3">Join our platform where you will be able to solve your doubts at the hands of experts.</p>
    <ol class="mb-5">
      <li>Create a ticket</li>
      <li>Receive your solution</li>
      <li>Send your feedback</li>
    </ol>
    <a href="/auth/choice">
      <button class="btn btn-primary get-started">Get Started</button>
    </a>
  </div>
  <img src="../images/logoClippy.png" alt="logoClippy">
</div>

{{!-- <a class="btn btn-secondary" href="/auth/logout">Log Out</a> --}}
