{{>nav}}
<div class="container d-flex justify-content-end mt-5">
  <div class="text-right flex-column align-items-end">
    <h1>Welcome to clippy!</h1>
    <p>Join our platform where you will be able to solve your doubts at the hands of experts.</p>
    <ol>
      <li>Create a ticket</li>
      <li>Receive your solution</li>
      <li>Send your feedback</li>
    </ol>
    <a href="/auth/choice">
      <button class="btn btn-primary get-started">Get Started</button>
    </a>
  </div>
</div>



{{!-- <a class="btn btn-secondary" href="/auth/logout">Log Out</a> --}}
