<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

body{
    background: #e5ded8;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  
  .blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
  }
  .blog-container a {
    color:#333;
    text-decoration: none;
    transition: .25s ease;
    cursor: unset;
  }


  
  .blog-cover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
  }
  .blog-author,
  .blog-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
  }
  .blog-author h3::before,
  .blog-author--no-cover h3::before {
    margin-top: 10px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
  }

  .blog-author > #h3Pending::before{
    background: attr(data-image url);
  }

  .blog-author h3 {
    color: #fff;
    font-weight: 100;
  }
  .blog-author--no-cover h3 {
    color: rgb(139, 136, 136);
    font-weight: 100;
  }
  

  .blog-body {
    margin: 0 auto;
    width: 80%;
  }
  .video-body {
    height: 100%;
    width: 100%;
  }
  .blog-title h1 a {
    color: #333;
    font-weight: 100;
  }
  .blog-summary p {
    color: lighten(#333, 10%);
  }
  .blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }
  .blog-tags li + li {
    margin-left: .5rem;
  }
  .blog-tags a {
    border: 1px solid rgb(139, 136, 136);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 3px .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
  }
  

  .blog-footer {
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
  }
  .blog-footer li:first-child {
    margin-right: auto;
  }
  .blog-footer li + li {
    margin-left: .5rem;
  }
  .blog-footer li {
    color: rgb(139, 136, 136);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
  }

  .blog-footer li > a{
    color: rgb(139, 136, 136);
  }
  .comments {
    margin-right: 1rem;
  }
  .published-date {
    border: 1px solid rgb(139, 136, 136);
    border-radius: 3px;
    padding: 0 .5rem;
  }
  .numero {
    position: relative;
    top: -0.5rem;
  }

  .icon-star,
  .icon-bubble {
    fill: lighten(#333, 40%);
    height:24px;
    margin-right: .5rem;
    transition: .25s ease;
    width: 24px;
  }

  .icon-bubble:hover, .icon-star:hover{
    fill: #ff4d4d;
    cursor: pointer;
  }

  .blog-container h1{
    margin-top: 15px;
  }

  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background:    #9CC8DB;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #45A1BA;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #9CC8DB;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #45A1BA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #9CC8DB;
}

a.article,
a.article:hover {
    background: #45A1BA !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.wrapper a {
    text-decoration: none;
}

.sideBarLinks{
  color: white;
}

.hamburger{
  fill: white;
  display: none;
}

.btn-info{
  background-color: #45A1BA;
}

.btn-info:hover{
  background-color: #9CC8DB;
}
.btn-secondary{
  background-color: #45A1BA;
  margin-right: 5px;
}

.detailedTicketView{
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* #inputGroupFile02::after{
  content: "HOLA"
} */

.detailCardView{
  margin-top: 0;
}

#linkGitHub{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  padding-left: 0;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.clippyBlogCover{
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLogoAnimation{
  height: 80%;
}

#output {
  padding: 20px;
  background: #dadada;
}

form {
  margin-top: 20px;
}

select {
  width: 300px;
}

.video-body{
    height: 54%;
}

.blogContainerNoImg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.solvedTickets:not(:checked) > label:before{
    color: #ffc700;  
}

.blogauthorPending{
  height: 220px;
  display: flex;
  justify-content: center;
}

.h3Pending{
  height: 100%;
}

.blog-author .h3Pending::before, .blog-author--no-cover .h3Pending::before{
  height: 90%;
  width: 220px;
}

.card-container > .profileAdminCard{
  width: 20rem;
}

.blog-summary > p > a{
  color: blue;
  text-decoration: underline;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .hamburger{
      display: block;
    }
}

  @media screen and (min-width: 480px) {
    .blog-container{
        width: 28rem;
    }
    .card-container > .profileAdminCard{
      width: 25rem;
    }
  }
  @media screen and (min-width: 767px) {
    .blog-container{
        width: 30rem;  
    }
  .card-container > .profileAdminCard{
      width: 28rem;
    }
  }

  @media screen and (min-width: 959px) {
    .blog-container{
        width: 42rem;
    }
     .card-container > .profileAdminCard{
      width: 28rem;
    }
=======
*{
    margin: 0;
    padding: 0;
}

body {
    background: #e5ded8;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  
  .blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;
  }
  .blog-container a {
    color:#333;
    text-decoration: none;
    transition: .25s ease;
    cursor: unset;
  }


  
  .blog-cover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
  }
  .blog-author,
  .blog-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
  }
  .blog-author h3::before,
  .blog-author--no-cover h3::before {
    margin-top: 10px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
  }

  .blog-author > #h3Pending::before{
    background: attr(data-image url);
  }

  .blog-author h3 {
    color: #fff;
    font-weight: 100;
  }
  .blog-author--no-cover h3 {
    color: rgb(139, 136, 136);
    font-weight: 100;
  }
  

  .blog-body {
    margin: 0 auto;
    width: 80%;
  }
  .video-body {
    height: 100%;
    width: 100%;
  }
  .blog-title h1 a {
    color: #333;
    font-weight: 100;
  }
  .blog-summary p {
    color: lighten(#333, 10%);
  }
  .blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }
  .blog-tags li + li {
    margin-left: .5rem;
  }
  .blog-tags a {
    border: 1px solid rgb(139, 136, 136);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 3px .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
  }
  

  .blog-footer {
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
  }
  .blog-footer li:first-child {
    margin-right: auto;
  }
  .blog-footer li + li {
    margin-left: .5rem;
  }
  .blog-footer li {
    color: rgb(139, 136, 136);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
  }

  .blog-footer li > a{
    color: rgb(139, 136, 136);
  }
  .comments {
    margin-right: 1rem;
  }
  .published-date {
    border: 1px solid rgb(139, 136, 136);
    border-radius: 3px;
    padding: 0 .5rem;
  }
  .numero {
    position: relative;
    top: -0.5rem;
  }

  .icon-star,
  .icon-bubble {
    fill: lighten(#333, 40%);
    height:24px;
    margin-right: .5rem;
    transition: .25s ease;
    width: 24px;
  }

  .icon-bubble:hover, .icon-star:hover{
    fill: #ff4d4d;
    cursor: pointer;
  }

  .blog-container h1{
    margin-top: 15px;
  }

  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background:    #9CC8DB;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #45A1BA;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #9CC8DB;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #45A1BA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #9CC8DB;
}

a.article,
a.article:hover {
    background: #45A1BA !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.wrapper a {
    text-decoration: none;
}

.sideBarLinks{
  color: white;
}

.hamburger{
  fill: white;
  display: none;
}

.btn-info{
  background-color: #45A1BA;
}

.btn-info:hover{
  background-color: #9CC8DB;
}
.btn-secondary{
  background-color: #45A1BA;
  margin-right: 5px;
}

.detailedTicketView{
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* #inputGroupFile02::after{
  content: "HOLA"
} */

.detailCardView{
  margin-top: 0;
}

#linkGitHub{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  padding-left: 0;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.clippyBlogCover{
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgLogoAnimation{
  height: 80%;
}

#output {
  padding: 20px;
  background: #dadada;
}

form {
  margin-top: 20px;
}

select {
  width: 300px;
}

.video-body{
    height: 54%;
}

.blogContainerNoImg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.solvedTickets:not(:checked) > label:before{
    color: #ffc700;  
}

.blogauthorPending{
  height: 220px;
  display: flex;
  justify-content: center;
}

.h3Pending{
  height: 100%;
}

.blog-author .h3Pending::before, .blog-author--no-cover .h3Pending::before{
  height: 90%;
  width: 220px;
}

.card-container > .profileAdminCard{
  width: 20rem;
}

.blog-summary > p > a{
  color: blue;
  text-decoration: underline;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .hamburger{
      display: block;
    }
}

  @media screen and (min-width: 480px) {
    .blog-container{
        width: 28rem;
    }
    .card-container > .profileAdminCard{
      width: 25rem;
    }
  }
  @media screen and (min-width: 767px) {
    .blog-container{
        width: 30rem;  
    }
  .card-container > .profileAdminCard{
      width: 28rem;
    }
  }

  @media screen and (min-width: 959px) {
    .blog-container{
        width: 42rem;
    }
     .card-container > .profileAdminCard{
      width: 28rem;
    }
>>>>>>> dev
}