<h1>Ticket form with solution input and imageSolution field.</h1>
<form action="/senior/33/ticket/:ticketId" method="POST">
<input type="text" id="solution" name="solution">
<label for="solution"></label>
</form>